aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
cryptography
dotenv
filelock
frozenlist
fsspec
grpcio
h11
h2
hf-xet
hpack
httpcore
httpx
httpx-sse
huggingface_hub
hyperframe
idna
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-classic
langchain-community
langchain-core
langchain-experimental
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
Naked
narwhals
neo4j
networkx
numpy
opencv-python
orjson
ormsgpack
packaging
pdf2image
pdfminer.six
pdfplumber
pillow
portalocker
propcache
protobuf
pycparser
pycryptodome
pydantic
pydantic_core
pydantic-settings
Pygments
pypdfium2
pytesseract
python-dotenv
pytz
PyYAML
qdrant-client
regex
requests
requests-toolbelt
rich
safetensors
scikit-learn
scipy
sentence-transformers
shellescape
shellingham
SQLAlchemy
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing_extensions
typing-inspection
urllib3
uuid_utils
websockets
xxhash
yarl
zstandard

